/*
Responsive 996px grid system ~ Style CSS.
Copyright 2013, Josh Cope
*/

/* =============================================================================
   Site Styles
   ========================================================================== */
.topbar {
	background: #bab353;
	margin-top: -250px;
}

.container{
	background: #fffcc0 url('../images/background.jpg') repeat left top;
	padding: 0px;
}


	
nav li {
	list-style: inline;
	background-color: #af421e;
	width: 100%;
	margin-left: -18%;
	clear: right;
	font: bold 2em/1.5em "American Typewriter", Arial, Helvetica, Geneva, sans-serif;
	}

nav a {
	text-decoration: none;
	background-color: #af421e;
	display: block;
	text-align: center;
	color: #000;
	}
	
nav a:link {
	background: #af421e;
	background-image: url("../images/linen_background.png");
	color: #fffcc0;
	}
	
nav a:visited {
	background: #fffcc0;
	color: #000;
	text-decoration: line-through;
	}
	
nav a:hover {
	background: #000;
	color: #fffcc0;
	}

#bodyheader {
	background: background: #fffcc0 url('../images/background.jpg') repeat left top;
	border-bottom:  50px solid #467256;
	border-top: 50px solid #467256;
	border-color: #467256;
	padding: 0px;
	margin-left:-1.5%;
	height: 100px;
	width: 102.8%;
}
#headerimg2 img{
    margin-top: -185px;
	border: 5px solid #467256;
	margin-left: 50.4%;
}

#headerimg img {
    margin-top: -185px;
	border: 5px solid #467256;
	margin-left: -10px;
	margin-right: 109px;
}

body {
	background: #b8b353 url('../images/DCS4247.jpg') no-repeat left top;
	font-family: 'American Typewriter', cursive;
}
#body {
	background: #f5f5f5 url('../images/bg.jpg') no-repeat left top;
}

#contact {
	background-color:  #b8b353;
	margin-top: 20px;
	padding: 15px;
}

.aside {
	background: #af421e;
	padding-bottom: 20px;
	padding-top: 20px;
	margin-top: -28px;
	margin-bottom: 80px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	}

nav div {
	margin: 10px;
}

article ul {
	margin: 0px;
	padding: 0px;
}

#gallerycontainer {
    overflow: hidden;
}

#galleryItem {
    color: #2e2c25;
    font: 10px/1.5 American Typewriter, Verdana, Helvetica, sans-serif;
    float: left;
    margin: 8px;
}

h1 {
	color: #2e2c25;
	font: American Typewriter, Verdana, Helvetica, sans-serif;
}
 
#galleryItem h3 {
    text-transform: uppercase;
}
 
#galleryItem img {
	max-height: 80px;
	overflow: hidden;
    width: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 2px solid #467256;
}

#footer {
	background: #467256;
	min-height: 50px;
	width: 100%;
	margin-left: 0px;
}

footer p {
	display: inline;
}

.shadow {
-moz-box-shadow: 3px 3px 4px #000;
-webkit-box-shadow: 3px 3px 4px #000;
box-shadow: 3px 3px 4px #000:
}

.shadowtop {
-moz-box-shadow: 0px -3px 4px #000;
-webkit-box-shadow: 0px -3px 4px #000;
box-shadow: 0px -3px 4px #000:
}

/* =============================================================================
   Page Styles
   ========================================================================== */


.indextitle {
	margin-top: -40px;
	margin-left: 30px;
}

h1 {
	font-size: 26px;
	color: #000;
}

h2 {
	font-size: 22px;
	color: #000;
}

.indeximg {
	max-width: 30%;
	margin-top: 3px;
	border: 5px solid #fffcc0;
}

.indexp {
	margin-top: 0px;
}

#article {
	background: #a64921;
	width: 60%;
	padding-left: .3%;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 8px;
	margin-top: 0px;
}
/* =============================================================================
   Media Queries
   ========================================================================== */

/* Tablet Portrait size to Base 996px */
@media only screen and (min-width: 768px) and (max-width: 995px) {

#bodyheader {
	background-color: #b8b353;
	border-bottom:  40px solid #467256;
	border-top: 40px solid #467256;
	border-color: #467256;
	padding: -20px;
	height: 75px;
}

#headerimg img{
	margin-top: -150px;
}

#headerimg2 img {
	margin-top: -150px;
	margin-left: 49.7%;
}


aside {
	background: #af421e;
	padding-bottom: 10px;
	padding-top: 10px;
	margin-top: -20px;
	margin-bottom: 10px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	}
	
nav ul li {
	margin-left: -50px;
	margin-right: 8px;
	}
}
/* All Mobile Sizes */

@media only screen and (max-width: 767px) {

#headerimg2 {
	display: none;
}


#bodyheader {
	background-color: #b8b353;
	border-bottom:  40px solid #467256;
	border-top: 40px solid #467256;
	border-color: #467256;
	padding: -20px;
	height: 75px;
}

#headerimg img{
	margin-top: 10px;
}

aside {
	background: #af421e;
	padding-bottom: 10px;
	padding-top: 10px;
	margin-top: 0px;
	margin-bottom: 10px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	}
	
nav ul li {
	margin-left: 0px;
	margin-right: 0px;
	}
}

/* Mobile Landscape Size to Tablet Portrait */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.headerimg {
	display: hidden;
}

#bodyheader {
	display: none;
}

#headerimg {
	margin-left: 7%;
	max-width: 80%;
	margin-top: 10px;
}

#aside {
	background: #af421e;
	max-width: 65%;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	margin-left: 14%;
	}
	
	nav ul li {
		margin-left: 0px;
		margin-right: 8px;
	}
	
	div aside {
		margin-left: 60%;
	}
	}

/* Mobile Portrait Size to Mobile Landscape Size */
@media only screen and (max-width: 479px) {
.headerimg {
	display: hidden;
}

#bodyheader {
	display: none;
	background-color: #b8b353;
	border-bottom:  40px solid #467256;
	border-top: 40px solid #467256;
	border-color: #467256;
	height: 75px;
}

#headerimg {
	margin-left: 2%;
	max-width: 71.5%;
	margin-top: 10px;
}

article {
	max-width: 75%;
}

#footer {
	max-width: 5%;
}



#aside {
	background: #af421e;
	max-width: 65%;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	margin-left: 5%;
	}
	
nav ul li {
		max-width: 80%;
		margin-left: -33px;
		margin-right: 0px;
	}
	
#aside {
		
	}
	}


/* =============================================================================
   Font-Face
   ========================================================================== */
/* This is the proper syntax for an @font-face file

/* @font-face {
font-family: 'FontName';
src: url('../fonts/FontName.eot');
src: url('../fonts/FontName.eot?iefix') format('embedded-opentype'),
url('../fonts/FontName.woff') format('woff'),
url('../fonts/FontName.ttf') format('truetype'),
url('../fonts/FontName.svg#FontName') format('svg');
font-weight: normal;
font-style: normal; }
*/