/*
Responsive 996px grid system ~ Style CSS.
Copyright 2013, Josh Cope
*/

/* =============================================================================
   Site Styles
   ========================================================================== */
ul {
	list-style-type: none;
}

#headerimg {
	margin-top: -185px;
}

#headerimg img {
	border: 5px solid #467256;
	margin-left: -10px;
	margin-right: 109px;
}

body {
	background: #b8b353 url('../images/DCS4247.jpg') no-repeat left top;
	font-family: 'American Typewriter', cursive;
}



aside {
	background: #af421e url('../images/bg.jpg') no-repeat left top;
	padding-bottom: 20px;
	padding-top: 20px;
	padding-left: 5px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	margin-top: -28px;
	margin-bottom: 20px;
}

nav div {
	margin: 10px;
}

article ul {
	margin: 0px;
	padding: 0px;
}

#gallerycontainer {
    overflow: hidden;
}

#galleryItem {
    color: #2e2c25;
    font: 10px/1.5 American Typewriter, Verdana, Helvetica, sans-serif;
    float: left;
    margin: 8px;
}

h1 {
	color: #2e2c25;
	font: American Typewriter, Verdana, Helvetica, sans-serif;
}
 
#galleryItem h3 {
    text-transform: uppercase;
}
 
#galleryItem img {
	max-height: 80px;
	overflow: hidden;
    width: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 2px solid #467256;
}

#bodyheader {
	background-color: #b8b353;
	border-bottom:  50px solid #467256;
	border-top: 50px solid #467256;
	border-left: 5px solid #333;
	border-color: #467256;
	padding: -20px;
	height: 100px;
}

footer {
	background: #467256;
	min-height: 50px;
}

footer p {
	display: inline;
}
/* =============================================================================
   Page Styles
   ========================================================================== */

/* =============================================================================
   Media Queries
   ========================================================================== */

/* Tablet Portrait size to Base 996px */
@media only screen and (min-width: 768px) and (max-width: 995px) {}

/* All Mobile Sizes */
@media only screen and (max-width: 767px) {}

/* Mobile Landscape Size to Tablet Portrait */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size */
@media only screen and (max-width: 479px) {}


/* =============================================================================
   Font-Face
   ========================================================================== */
/* This is the proper syntax for an @font-face file

/* @font-face {
font-family: 'FontName';
src: url('../fonts/FontName.eot');
src: url('../fonts/FontName.eot?iefix') format('embedded-opentype'),
url('../fonts/FontName.woff') format('woff'),
url('../fonts/FontName.ttf') format('truetype'),
url('../fonts/FontName.svg#FontName') format('svg');
font-weight: normal;
font-style: normal; }
*/